.tableRow {
    td {
        border: 1px solid #dee2e6;
        padding: 20px .75rem;
        vertical-align: top;
        text-align: start;
        font-weight: bold;
    }
}

.classes {
    width: 255px;
}

.hostsButtons {
    width: 416px;
    margin: auto;
}

.hostsButtonsDuringClasses {
    padding-top: 24px;
}
