.theadDark {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    text-align: justify;

    th {
        color: #fff;
        background-color: #343a40;
        padding: .75rem;
    }
}
