.thead-dark {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    text-align: justify;
}

.thead-dark th {
    color: #fff;
    background-color: #343a40;
    border: 1px solid #454d55;
    padding: .75rem;
}
