.footer {
    text-align: start;
    margin-left: 1.5%;
    margin-bottom: 15px;

    a {
        color: #88bdd8;
        text-decoration: inherit;
    }

    a:hover {
        color: #58a2c8;
    }
}
